<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>0</h1>
    <button onclick="increase()">Increase</button>
    <button onclick="setZero()">Set Zero</button>
</body>
<script>
    let counter = 0;

    function increase(){
        counter++;
        document.querySelector('h1').innerHTML = counter;
    }

    function setZero(){
        counter = 0;
        document.querySelector('h1').innerHTML = counter;

    }
</script>
</html>